<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市管理系统-商品管理</title>
    <!-- 引入重置样式 -->
    <link rel="stylesheet" href="./styles/reset.css">
    <!-- 引入elementUI.css -->
    <link rel="stylesheet" href="./styles/elementui.css">
    <!-- 引入首页自定义css -->
    <link rel="stylesheet" href="./styles/index.css">
    <!-- 使用script标签发起同步请求 -->
    <script src="/users/checkState"></script>
</head>

<body>
    <div id="app" class="product_list">
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>商品管理</span>
                </div>
                <div class="text item">
                    <el-form label-width="80px" :model="search" class="clearfix">
                        <!--用户分类-->
                        <el-form-item label="" prop='region'>
                            <el-select v-model="search.category" placeholder="请选择分类">
                                <el-option v-for="(c, index) in categoryList" :key="index" :label="c.cg_name" :value="c.cg_id"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="关键字：" class="keyWord">
                            <el-input v-model="search.keywords" placeholder="条码或者商品名称"></el-input>
                            （商品名称，条形码）
                            <el-button type="success" @click="onSearch">查询</el-button>
                        </el-form-item>
                    </el-form>
                    <template>
                        <el-table :data="tableData" style="width: 100%">
                            <el-table-column label="编号" width="80px">
                                <template slot-scope="scope">
                                    <span> {{ scope.row.good_id }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="barcode" label="商品条形码" width="130">
                            </el-table-column>
                            <el-table-column prop="goodsname" label="商品名称" width="200">
                            </el-table-column>
                            <el-table-column prop="proRegion" label="所属分类" width='80'>
                                <template slot-scope="scope">
                                    <span> {{ scope.row.cg_name }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="goodsprice" label="商品进价（元）" width='120'>
                                <template slot-scope="scope">
                                    <span class='red'> {{ scope.row.goodsprice | formatPrice }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="saleprice" label="促销价（元）" width='120'>
                                <template slot-scope="scope">
                                    <span class='red'> {{ scope.row.saleprice | formatPrice }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="marketprice" label="市场价（元）" width='120'>
                                <template slot-scope="scope">
                                    <span class='red'> {{ scope.row.marketprice | formatPrice }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="stockNum" label="库存" width='80'>
                            </el-table-column>
                            <el-table-column label="库存总额（元）" width='140'>
                                <template slot-scope="scope">
                                    <span class='red'> {{ scope.row.goodsprice * scope.row.stockNum |formatPrice }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="管理" width>='180'>
                                <template slot-scope="scope">
                                    <el-button size="mini" @click="handleEdit(scope.$index, scope.row)" type="primary"
                                        plain><i class="el-icon-edit"></i></el-button>
                                    <el-button size="mini" @click="handleDelete(scope.$index, scope.row)" type="danger"
                                        plain><i class="el-icon-delete"></i></el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                    <!-- 翻页 -->
                    <div class="text item">
                        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background
                            :current-page="currentPage" :page-sizes="[1, 2, 3, 4, 5, 10, 100, 200, 300, 400]"
                            :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
                        </el-pagination>
                    </div>
                </div>
            </el-card>
        </el-main>
    </div>
    <!-- 引入jquery -->
    <script src="./javascripts/jquery.min.js"></script>
    <!-- 引入vue -->
    <script src="./javascripts/vue.min.js"></script>
    <!-- 引入element.js -->
    <script src="./javascripts/elementui.js"></script>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    categoryList: [],
                    total: 52,
                    currentPage: 1,
                    pageSize: 5,
                    search: {
                        keywords: '',
                        category: ''
                    },
                    tableData: []
                }
            },
            filters: {
                //用过滤器做一个管道格式化价格
                formatPrice(price) {
                    return price.toFixed(2)
                }
            },
            methods: {
                //编辑的方法
                handleEdit(cg_id) {
                    //拿到要修改的数据的id，然后发送并跳转到修改页面
                    location.href = "classify_edit.html?cg_id=" + cg_id;
                },
                // 删除的方法
                handleDelete(cg_id) {
                    if (confirm('确定要删除吗')) {
                        $.get("/goods/del", {
                            cg_id
                        }, (result) => {
                            if (result.isOk) {
                                alert(result.msg)
                                this.getDataAjax();
                            } else {
                                alert(result.msg);
                            }
                        })
                    }
                },
                //将发ajax请求数据的方法抽出来，封装成一个函数，然后调用
                getDataAjax() {
                    //把查询加分页所需要传入后端的参数封装成一个对象
                    let pageSearchObj = {
                        currentPage : this.currentPage,   //当前页
                        pageSize : this.pageSize,         //每页大小
                        keywords: this.search.keywords,   //关键词
                        category: this.search.category    //分类
                    }
                    //把页码和每一页要显示多少条数据（每页大小）传到后端路由
                    $.get("/goods/listPagerSearch",pageSearchObj, (pagerData) => {
                        this.tableData = pagerData.dataList;   //符合条件的分页数据的条数
                        this.total = pagerData.total;          //符合条件的总记录数
                    })
                },
                //改变每页大小（显示多少条数）分页的方法
                handleSizeChange(val) {
                    //console.log(`每页 ${val} 条`);

                    this.pageSize = val; //修改每页大小
                    //修改每页大小后要重新调用ajax，显示新的页码的数据
                    this.getDataAjax();
                },
                //当前页码改变的方法
                handleCurrentChange(val) {
                    //console.log(`当前页: ${val}`);
                    this.currentPage = val; //改变页码

                    //改变页码后要重新调用ajax，显示新的页码的数据
                    this.getDataAjax();
                },
                //查询的方法
                onSearch(){
                    //只实现了查询的方法
                    // $.get("/goods/listSearch",this.search,(searchResult) => {
                    //     this.tableData = searchResult
                    // })

                    //查询加分页
                    this.getDataAjax()
                }

            },
            mounted() {
                //发起ajax到后端请求数据
                this.getDataAjax();
                //填充分类列表数据
                $.get("/category/list", (dataList) => {
                    this.categoryList = dataList;
                })
                //发起ajax到后端获取分页的数据

            }
        })
    </script>
</body>

</html>